<?xml version="1.0" encoding="UTF-8"?>
<!-- 
    /**
    * Listrak Remarketing Magento Extension Ver. 1.0.0 - Copyright (c) 2011 Listrak, Inc. 
    */
-->
<config>
    <modules>
        <Listrak_Remarketing>
            <version>1.1.8</version>
        </Listrak_Remarketing>
    </modules>
    <frontend>
        <routers>
            <listrak_remarketing>
                <use>standard</use>
                <args>
                    <module>Listrak_Remarketing</module>
                    <frontName>remarketing</frontName>
                </args>
            </listrak_remarketing>
        </routers>
        <layout>
            <updates>
                <remarketing>
                    <file>remarketing.xml</file>
                </remarketing>
            </updates>
        </layout>
        <events>
            <controller_action_layout_render_before>
                <observers>
                    <listrak_remarketing_observer>
                        <type>singleton</type>
                        <class>Listrak_Remarketing_Model_Observer</class>
                        <method>sessionInit</method>
                    </listrak_remarketing_observer>
                </observers>
            </controller_action_layout_render_before>
            <sales_order_place_after>
                <observers>
                    <listrak_remarketing_observer>
                        <type>singleton</type>
                        <class>Listrak_Remarketing_Model_Observer</class>
                        <method>orderPlaced</method>
                    </listrak_remarketing_observer>
                </observers>
            </sales_order_place_after>
            <newsletter_subscriber_save_after>
                <observers>
                    <listrak_remarketing_observer>
                        <type>singleton</type>
                        <class>Listrak_Remarketing_Model_Observer</class>
                        <method>subscriberSaved</method>
                    </listrak_remarketing_observer>
                </observers>
            </newsletter_subscriber_save_after>
            <review_save_commit_after>
                <observers>
                    <listrak_remarketing_observer>
                        <type>singleton</type>
                        <class>Listrak_Remarketing_Model_Observer</class>
                        <method>reviewUpdated</method>
                    </listrak_remarketing_observer>
                </observers>
            </review_save_commit_after>
            <review_delete_commit_after>
                <observers>
                    <listrak_remarketing_observer>
                        <type>singleton</type>
                        <class>Listrak_Remarketing_Model_Observer</class>
                        <method>reviewDeleted</method>
                    </listrak_remarketing_observer>
                </observers>
            </review_delete_commit_after>
        </events>
    </frontend>
    <global>
        <models>
            <listrak>
                <class>Listrak_Remarketing_Model</class>
                <resourceModel>listrak_mysql4</resourceModel>
            </listrak>
            <listrak_mysql4>
                <class>Listrak_Remarketing_Model_Mysql4</class>
                <entities>
                    <click>
                        <table>listrak_remarketing_click</table>
                    </click>
                    <log>
                        <table>listrak_remarketing_log</table>
                    </log>
                    <session>
                        <table>listrak_remarketing_session</table>
                    </session>
                    <session_email>
                        <table>listrak_remarketing_session_email</table>
                    </session_email>
                    <emailcapture>
                        <table>listrak_remarketing_emailcapture</table>
                    </emailcapture>
                    <subscriber_update>
                        <table>listrak_remarketing_subscriber_update</table>
                    </subscriber_update>
                    <review_update>
                        <table>listrak_remarketing_review_update</table>
                    </review_update>
                    <product_attribute_set_map>
                        <table>listrak_remarketing_product_attribute_set_map</table>
                    </product_attribute_set_map>
                </entities>
            </listrak_mysql4>
            <newsletter>
                <rewrite>
                    <subscriber>Listrak_Remarketing_Model_Subscriber</subscriber>
                </rewrite>
            </newsletter>
        </models>
        <resources>
            <listrak_remarketing_setup>
                <setup>
                    <module>Listrak_Remarketing</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </listrak_remarketing_setup>
            <listrak_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </listrak_write>
            <listrak_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </listrak_read>
        </resources>
        <helpers>
            <remarketing>
                <class>Listrak_Remarketing_Helper</class>
            </remarketing>
        </helpers>
        <blocks>
            <remarketing>
                <class>Listrak_Remarketing_Block</class>
            </remarketing>
        </blocks>
    </global>
    <admin>
        <routers>
            <remarketing>
                <use>admin</use>
                <args>
                    <module>Listrak_Remarketing</module>
                    <frontName>remarketing</frontName>
                </args>
            </remarketing>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <remarketing>
                    <file>remarketing.xml</file>
                </remarketing>
            </updates>
        </layout>
        <events>
            <review_save_commit_after>
                <observers>
                    <listrak_remarketing_observer>
                        <type>singleton</type>
                        <class>Listrak_Remarketing_Model_Observer</class>
                        <method>reviewUpdated</method>
                    </listrak_remarketing_observer>
                </observers>
            </review_save_commit_after>
            <review_delete_commit_after>
                <observers>
                    <listrak_remarketing_observer>
                        <type>singleton</type>
                        <class>Listrak_Remarketing_Model_Observer</class>
                        <method>reviewDeleted</method>
                    </listrak_remarketing_observer>
                </observers>
            </review_delete_commit_after>
        </events>
    </adminhtml>
    <default>
        <remarketing>
            <modules>
                <core>1</core>
                <reviews>0</reviews>
            </modules>
            <subscription>
                <signup_success_email>0</signup_success_email>
                <unsubscribe_email>0</unsubscribe_email>
            </subscription>
            <abandonedcarts>
                <abandoned_cart_report_timeout>60</abandoned_cart_report_timeout>
            </abandonedcarts>
            <modal>
                <enabled>0</enabled>
                <listrakMerchantID></listrakMerchantID>
                <scriptLocation>s1.listrakbi.com/scripts/script.js</scriptLocation>
            </modal>
            <productcategories>
                <categories_source>default</categories_source>
            </productcategories>
        </remarketing>
    </default>
</config>